In [15]:
# import necessary libraries
import dash
from jupyter_dash import JupyterDash
from dash import dcc
import dash_html_components as html

In [19]:
# initiate app
app = dash.Dash(__name__)

In [20]:
# define layout
app.layout = html.Div([
    html.H1("Dushanbe House Price Analysis"),
    html.Div("Dashboard contains Price Analysis for Houses in Dushanbe")
])

In [23]:
# run app
if __name__ == '__main__':
    app.run_server(mode = 'inline')

In [1]:
# read dataset
import pandas as pd
dataset = pd.read_csv('dataset.csv')
dataset.head()

   number_of_rooms  floor  area   price
0                1      1  58.0  330000
1                1     14  68.0  340000
2                3      8  50.0  700000
3                3     14  84.0  700000
4                3      3  83.0  415000

In [4]:
# find index of number of rooms column
dataset['number_of_rooms'].value_counts().index

Index([2, 3, 1, 4, 6, 5], dtype='int64', name='number_of_rooms')

In [9]:
dataset['number_of_rooms'].value_counts()

number_of_rooms
2    2091
3    1445
1    1119
4     505
6     210
5     209
Name: count, dtype: int64